pkgbase = zsh-fzf-git-git
	pkgdesc = Get git info with fzf
	pkgver = 1.5f1f580
	pkgrel = 1
	url = https://github.com/gessen/fzf-git
	install = zsh-fzf-git.install
	arch = any
	license = UNLICENSE
	makedepends = git
	depends = zsh
	depends = fzf
	depends = git
	provides = zsh-fzf-git
	conflicts = zsh-fzf-git
	source = zsh-fzf-git::git+https://github.com/gessen/fzf-git
	sha256sums = SKIP

pkgname = zsh-fzf-git-git

