pkgbase = p4merge-bin
	pkgdesc = Three-way merging and side-by-side file comparison tool (official binary version)
	pkgver = 18.2
	pkgrel = 1
	url = https://www.perforce.com/downloads/visual-merge-tool
	arch = x86_64
	license = custom: commercial
	depends = qt5-base
	provides = p4merge
	conflicts = p4merge
	replaces = p4merge
	noextract = p4v.tgz
	source = https://cdist2.perforce.com/perforce/r18.2/bin.linux26x86_64/p4v.tgz
	sha256sums = 9b1da4f908f24b17d3fb4e8aa6ea7ede6fd72f93d6964a8c3e3704e0fd40f114

pkgname = p4merge-bin

